[Unit]
Description=Playground for Django


[Service]
WorkingDirectory=/root/app/mysite
Restart=on-failure
ExecStart=/root/app/venv/bin/gunicorn mysite.wsgi -b 127.0.0.1:8000

[Install]
# When should this service be triggered? (this is the equivalent of SysV's runlevel 3)
WantedBy=multi-user.target
